streamlit==1.31.0
pandas==2.2.0
numpy==1.26.3
plotly==5.18.0
yfinance==0.2.35
scikit-learn==1.4.0
Pillow==10.2.0
streamlit-option-menu==0.3.12
altair==5.2.0
requests==2.31.0
datetime==5.4
python-dotenv==1.0.1
protobuf==4.25.2
matplotlib==3.8.2
seaborn==0.13.1
statsmodels==0.14.1
openpyxl==3.1.2
xlrd==2.0.1
beautifulsoup4==4.12.3
lxml==5.1.0
pyarrow==15.0.0
